<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Book Exchange Platform for Vassar Students">
    <meta name="author" content="Daniel Elendu">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/home.css" rel="stylesheet">
    <title>Saved Requests</title>

  </head>
  <body>
    <div id="body">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/feed">V-Xchange</a>
          <button class="navbar-toggler btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <i class="material-icons">expand_more</i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/feed">Books</a>
              <a class="nav-item nav-link" href="/requests">Requests</a>
              <a class="nav-item nav-link active" href="/mypostfollows">Saved Posts</a>
              <a class="nav-item nav-link" href="/myposts">My Textbooks and Requests</a>
              <a class="nav-item nav-link" href="/preferences">Preferences</a>
            </div>
            <button id="notifications-toggle" class="btn btn-dark my-2 my-sm-0" style="cursor: pointer" data-toggle="tooltip" data-placement="bottom" title="Notifications" onclick="openNav()"><i class="material-icons">notification_important</i></i>
              <a href="/logout" style="text-decoration:none;"><button data-toggle="tooltip" data-placement="bottom" title="Logout" class="btn btn-dark my-2 my-sm-0" onclick="this.disabled = true;"><i class="material-icons">exit_to_app</i></button></a>
            </div>
      </nav>
  
      <div id="notifications" class="notificationsnav">
          <span class="list-group-item h5 sticky-top font-weight-bold text-left">Notifications<i class="closebtn pl-6 material-icons" onclick="closeNav()">close</i></span>
          <ul class="list-group text-left" id="notificationsList">
            
          </ul>
      </div>

    <div id="main" class="container-fluid page-content">
      <div class="text-left">
        <br>
        <div class="d-flex pt-1">
            <a href="/mypostfollows" style="text-decoration:none;"><button class="btn p-2 m-0 bg-white"><span class="material-icons">arrow_back</span></button></a>
            <p class="h4 ml-2 pt-1 font-weight-bold">Saved Requests</p>
        </div>
        <hr class="p-1 m-1">
        <div class="home row" id="allmyrequests">
        </div>
      </div>
    </div>

  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../config/jquery.touchSwipe.min.js"></script>
    <script src="../scripts/savedrequests.js"></script>
  </body>
</html>