html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  box-align: center;
  box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

@keyframes load {
  0%   {width: 0%;}
  10%  {width: 10%;}
  20%  {width: 20%;}
  30%  {width: 30%}
  40% {width: 40%;}
  50% {width: 50%;}
  60% {width: 60%;}
  70% {width: 70%;}
  80% {width: 80%;}
  90% {width: 90%;}
  100% {width: 100%;}
}

.create-account {
  width: 100%;
  max-width: 900px;
  padding: 15px;
  margin: 0 auto;
  animation-name: load;
  animation-duration: 0.25s;
}

.page-content {
  margin-top: 5px;
}

.create-account .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 20px;
}

.create-account .form-control:focus {
z-index: 2;
}

.create-account input[type="text"] {
margin-bottom: 10px;
}
.create-account input[type="password"] {
margin-bottom: 10px;
}

.field-label {
font-size: 20px;
padding: 7px 0px;
}


#main {
  transition: margin-left 0.2s;
}

/**FOR SIFEBAR**/
.notificationsnav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f3f5;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  text-align:center;
}

.notificationsnav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

#notificationsList a {
  text-decoration: none; 
  color: #579ddf;
}