html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  box-align: center;
  box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

@keyframes load {
  0%   {width: 0%;}
  10%  {width: 10%;}
  20%  {width: 20%;}
  30%  {width: 30%}
  40% {width: 40%;}
  50% {width: 50%;}
  60% {width: 60%;}
  70% {width: 70%;}
  80% {width: 80%;}
  90% {width: 90%;}
  100% {width: 100%;}
}

@keyframes slidee {
  0%   {opacity: 0;}
  10%  {opacity: 0.1;}
  20%  {opacity: 0.2;}
  30%  {opacity: 0.3;}
  40% {opacity: 0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1.0;}
}

.login {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  animation-name: load;
  animation-duration: 0.5s;
}

.login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}

.slidein {
  opacity: 1.0;
  animation-name: slidee;
  animation-duration: 1s;
}

.login .form-control:focus {
  z-index: 2;
}

.login input[type="email"] {
  margin-bottom: 10px;
}
.login input[type="password"] {
  margin-bottom: 10px;
}